<section>
  <header class="flex-header">
    <h1>Cross Import Module</h1>
  </header>
</section>
<section>
  <ul>
    <li>
      Import internal dependency:
      {{#if this.internalDependency}}✔️{{else}}❌{{/if}}
    </li>
    <li>
      Import same package:
      {{#if this.samePackage}}✔️{{else}}❌{{/if}}
    </li>
    <li>
      Import Foundry script:
      {{#if this.foundryScript}}✔️{{else}}❌{{/if}}
    </li>
  </ul>
</section>