<section>
  <header class="flex-header">
    <h1>Cross Import Module</h1>
  </header>
</section>
<section>
  <ul>
    <li>
      Internal dependency:
      {{#if this.internalDependency}}✔️{{else}}❌{{/if}}
    </li>
  </ul>
</section>